# Append a row to a dataframe using dictionary
https://wellsr.com/python/pandas-dataframe-from-dictionary-list-and-more/
https://thispointer.com/python-pandas-how-to-add-rows-in-a-dataframe-using-dataframe-append-loc-iloc/

In [5]:
dictOne = {"Column A":[1, 2, 3],
            "Column B":[4, 5, 6],
            "Column C":[7, 8, 9]}

In [7]:
dictOne["Column D"] = [10, 11, 12]

In [8]:
dictOne

{'Column A': [1, 2, 3],
 'Column B': [4, 5, 6],
 'Column C': [7, 8, 9],
 'Column D': [10, 11, 12]}

In [3]:
import pandas as pd
pd.DataFrame(dictOne)

   Column A  Column B  Column C
0         1         4         7
1         2         5         8
2         3         6         9

In [4]:
import pandas as pd # Don't forget to import!
dictTwo = {"Column A":[1, 2, 3],
            "Column B":[4, 5, 6],
            "Column C":[7, 8, 9]}
df = pd.DataFrame.from_dict(dictTwo)
print(df)

   Column A  Column B  Column C
0         1         4         7
1         2         5         8
2         3         6         9

In [7]:
import pandas as pd # Don't forget to import!
dictThree = {"Row 1":[1, 2, 3],
            "Row 2":[4, 5, 6],
            "Row 3":[7, 8, 9]}
df2 = pd.DataFrame.from_dict(dictThree, orient='index')
print(df2)

       0  1  2
Row 1  1  2  3
Row 2  4  5  6
Row 3  7  8  9

In [8]:
import pandas as pd # Don't forget to import!
dictThree = {"Ard":[1, 2, 3],
            "Ellen":[4, 5, 6],
            "Piet":[7, 8, 9]}
df2 = pd.DataFrame.from_dict(dictThree, orient='index')
print(df2)

       0  1  2
Ard    1  2  3
Ellen  4  5  6
Piet   7  8  9

In [10]:
import pandas as pd # Don't forget to import!
colNames = ["1880", "1881", "1882"]
dictFour = {"Ard":[1, 2, 3],
            "Ellen":[4, 5, 6],
            "Piet":[7, 8, 9]}
df4 = pd.DataFrame.from_dict(dictFour, orient='index', columns=colNames)
df4

       1880  1881  1882
Ard       1     2     3
Ellen     4     5     6
Piet      7     8     9

In [12]:
# Creating an empty dictionary 
myDict = {} 

# Adding list as value 
myDict["Ard"] = [1, 2, 3] 
myDict["Ellen"] = [4, 5, 6]
myDict["Piet"] = [7, 8, 9]

print(myDict)

{'Ard': [1, 2, 3], 'Ellen': [4, 5, 6], 'Piet': [7, 8, 9]}

In [13]:
import pandas as pd # Don't forget to import!
colNames = ["1880", "1881", "1882"]
dictFive = myDict
df5 = pd.DataFrame.from_dict(dictFive, orient='index', columns=colNames)
df5

       1880  1881  1882
Ard       1     2     3
Ellen     4     5     6
Piet      7     8     9