In [2]:
import pandas as pd
import numpy as np
import time

In [21]:
#del df1, df2, df3, df4
numOfRows = 1000

In [13]:
# append
startTime = time.perf_counter()
df1 = pd.DataFrame(np.random.randint(100, size=(5,5)), columns=['A', 'B', 'C', 'D', 'E'])
for i in range( 1,numOfRows-4):
    df1 = df1.append( dict( (a,np.random.randint(100)) for a in ['A','B','C','D','E']), ignore_index=True)
    
print('Elapsed time: {:6.3f} seconds for {:d} rows'.format(time.perf_counter() - startTime, numOfRows))
print(df1.shape)

Elapsed time: 52.946 seconds for 30000 rows
(30000, 5)

In [14]:
# .loc w/o prealloc
startTime = time.perf_counter()
df2 = pd.DataFrame(np.random.randint(100, size=(5,5)), columns=['A', 'B', 'C', 'D', 'E'])
for i in range( 1,numOfRows):
    df2.loc[i]  = np.random.randint(100, size=(1,5))[0]
    
print('Elapsed time: {:6.3f} seconds for {:d} rows'.format(time.perf_counter() - startTime, numOfRows))
print(df2.shape)

Elapsed time: 78.845 seconds for 30000 rows
(30000, 5)

In [15]:
# .loc with prealloc
df3 = pd.DataFrame(index=np.arange(0, numOfRows), columns=['A', 'B', 'C', 'D', 'E'] )
startTime = time.perf_counter()
for i in range( 1,numOfRows):
    df3.loc[i]  = np.random.randint(100, size=(1,5))[0]
    
print('Elapsed time: {:6.3f} seconds for {:d} rows'.format(time.perf_counter() - startTime, numOfRows))
print(df3.shape)

Elapsed time: 270.175 seconds for 30000 rows
(30000, 5)

In [19]:
# dict
startTime = time.perf_counter()
row_list = []
for i in range (0,5):
    row_list.append(dict( (a,np.random.randint(100)) for a in ['A','B','C','D','E']))
for i in range( 1,numOfRows-4):
    dict1 = dict( (a,np.random.randint(100)) for a in ['A','B','C','D','E'])
    row_list.append(dict1)

df4 = pd.DataFrame(row_list, columns=['A','B','C','D','E'])

print('Elapsed time: {:6.3f} seconds for {:d} rows'.format(time.perf_counter() - startTime, numOfRows))
print(df4.shape)

Elapsed time: 47.765 seconds for 3000000 rows
(3000000, 5)

In [20]:
df4

          A   B   C   D   E
0        46  73  46  43  56
1        37  22  83  48  94
2        92  91  83  53  79
3        96  27  37   3  43
4         2  15  44  29   4
...      ..  ..  ..  ..  ..
2999995  28  55  10   4  49
2999996  28  81  38  47  40
2999997  55  86  76  59  99
2999998  78  35  35  18  97
2999999  70  25  29  25  80

[3000000 rows x 5 columns]