# Eindopdrachten datakwaliteit
*Telt mee in eindoordeel*

<img src = "NVB.png" width = 400 align = 'center'>

## Opdracht 1: Schat de leeftijd van een groep mensen op basis van de voornamen.

Gegeven de lijst met voornamen van mensen:

Jolie, Britt, Ties, Pien, Guus, Nick, Julie, Noud, Renée, Stan, Jana, Lieke, Evi, Aniek, Kiki, Juul, Mathijs, Stijn, Fenne en Femke.

Probeer een zo goed mogelijke schatting van de gemiddelde leeftijd van deze groep personen te geven. Leg uit hoe de schatting is gemaakt en probeer een indicatie te geven van de nauwkeurigheid van de schatting.

Tip. Gebruik de voornamendatabank van het Meertens instituut: https://www.meertens.knaw.nl/nvb/

Hierin kun je een naam zoeken en dan vind je de geboorteaantallen van die naam per jaar. Je kunt dit handmatig doen als je wilt en eventueel Excel gebruiken voor de berekening. Als je programmeertalen en/of webscraping technieken beheerst mag je die ook gebruiken.

Kies bij elke naam het geboortejaar met de meeste geboortes van mensen met de betreffende naam. Dat levert een rij jaartallen op. Neem het gemiddelde van deze geboortejaren, en rond dat af op een geheel getal. De gemiddelde leeftijd van de groep wordt geschat door dit getal van 2019 af te trekken. Deze werkwijze is niet erg nauwkeurig. In dit voorbeeld pakt het redelijk uit. Het berekenen van gemiddelde of mediaan kost inderdaad veel meer moeite, is wel mogelijk, maar levert geen betere schatting op.

## Data prep

In [8]:
pip install BeautifulSoup4 requests

Requirement already satisfied: BeautifulSoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.8.0)
Requirement already satisfied: requests in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (2.22.0)
Requirement already satisfied: soupsieve>=1.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from BeautifulSoup4) (1.9.3)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (1.24.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests) (2019.6.16)
Note: you may need to restart the kernel to use updated packages.

### Getting source from NVB:

https://www.meertens.knaw.nl/nvb/

In [2]:
#source = requests.get('https://www.meertens.knaw.nl/nvb/naam/is/Ard').text

In [1]:
#namen lijst
# Jolie, Britt, Ties, Pien, Guus, Nick, Julie, Noud, Renée, Stan, Jana, Lieke, Evi, Aniek, Kiki, Juul, Mathijs, Stijn, Fenne, Femke

#names = ['Ard', 'Jolie', 'Britt', 'Ties', 'Pien', 'Guus', 'Nick', 'Julie', 'Noud', 'Renée', 'Stan', 'Jana', 'Lieke', 'Evi', 'Aniek', 'Kiki', 'Juul', 'Mathijs', 'Stijn', 'Fenne', 'Femke']
names = ['Ard']
#names[0]

In [2]:
url = ('https://www.meertens.knaw.nl/nvb/naam/is/' + names[0]) #***
url

'https://www.meertens.knaw.nl/nvb/naam/is/Ard'

In [24]:
# getting length of list 
length = len(names)

from bs4 import BeautifulSoup
import requests

# put it into the soup
# Retrieve page data
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.71 Safari/537.36'} #header spoofing
   
# Iterating the index of names to get the data
get_years = True
myDict = {}

for i in range(length): 
    url = ('https://www.meertens.knaw.nl/nvb/naam/is/' + names[i])
    #connect to website

    try:
        from requests import get
        response = get(url, headers=headers)
        print("Connection to ", url, "succesfull")
        print(response.text[:500]) # only first 500 char (from:to) - slice
    except:
        print("An error occured while connecting to " + url)
        
    # put in the soup
    html_soup = BeautifulSoup(response.text, 'html.parser')
    
    # parse out html
    content = html_soup.find('div', id = 'content')
    script = content.script
       
    # get years just once
    while get_years:
        # find all years on the histogram - div VerticalScaleMarkerTitle in var year_list
        import re #RegEx
        yearlist = re.search('var year_list = (?P<token>.*);', script.string)
        year_list = yearlist.group('token')[10:-1]
        years = year_list[10:-1].split(",")
        
        if yearlist:
            print(get_years)
            print(yearlist.group('token'))
            
        get_years = False
        
    # get values and add to a list
    valuelist = re.search('var value_list = (?P<token>.*);', script.string)
    #if valuelist:
    #    print(valuelist.group('token'))
    value_list = valuelist.group('token')[10:-1]
    # test_list = [int(i) for i in test_list]
    values = value_list[10:-1].split(",")
    values = [float(i) for i in values]
    print('values: ' + str(len(values)) + ' total')
    
    
    # Adding list as value
    name = names[i]
    myDict[name] = values
    #print(name)
    #print(myDict)
    
print(myDict)

# create a pandas dataframe
import pandas as pd
colNames = years
dictOne = myDict
df1 = pd.DataFrame.from_dict(dictOne, orient='index', columns=colNames)
df1

# cleanup data
    
print('END OF CRAWL of ' + str(i) + ' names')

Connection to  https://www.meertens.knaw.nl/nvb/naam/is/Ard succesfull
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl" lang="nl">
  <head>
    <meta http-equiv="x-ua-compatible" content="IE=Edge"/>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="Content-Language" content="nl" />
    <meta name="author" content="Meertens Instituut" />
    <meta name="description" lang="nl" content="Voornaam Ard in de Ne
True
new Array(1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1899,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,1913,1914,1915,1916,1917,1918,1919,1920,1921,1922,1923,1924,1925,1926,1927,1928,1929,1930,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940,1941,1942,1943,1944,1945,1946,1947,1948,1949,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016)

ValueError: could not convert string to float:

In [5]:
len(years)

135

In [28]:
test = round(float('14.5'))
test

14

In [111]:
# put it into the soup

# Retrieve first page data

headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/54.0.2840.71 Safari/537.36'} #header spoofing
#headers = {"Accept-Language": "en-US, en;q=0.5"}

url = ('https://www.meertens.knaw.nl/nvb/naam/is/' + names[1]) #***

#connect to website

try:
    from requests import get
    response = get(url, headers=headers)
    print("Connection to ", url, "succesfull")
    print(response.text[:500]) # only first 500 char (from:to) - slice
except:
    print("An error occured.")

Connection to  https://www.meertens.knaw.nl/nvb/naam/is/Jolie succesfull
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl" lang="nl">
  <head>
    <meta http-equiv="x-ua-compatible" content="IE=Edge"/>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="Content-Language" content="nl" />
    <meta name="author" content="Meertens Instituut" />
    <meta name="description" lang="nl" content="Voornaam Jolie in de

In [92]:
print(html_soup.prettify())

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="nl" xml:lang="nl" xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta content="IE=Edge" http-equiv="x-ua-compatible"/>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type"/>
  <meta content="nl" http-equiv="Content-Language"/>
  <meta content="Meertens Instituut" name="author"/>
  <meta content="Voornaam Ard in de Nederlandse Voornamenbank" lang="nl" name="description"/>
  <title>
   NVB : voornaam Ard
  </title>
  <script src="/nvb/layout/functions.js" type="text/javascript">
  </script>
  <script src="/nvb/layout/histogram.js" type="text/javascript">
  </script>
  <script src="/nvb/layout/diffusion.js" type="text/javascript">
  </script>
  <script src="/nvb/layout/XMLHttpRequest.js" type="text/javascript">
  </script>
  <!--
    <link rel="stylesheet" type="text/css" href="/nvb/layout/databanken.css"/>
    //-->
  <link href="/nvb/layout/style.css" rel="stylesheet" type="text/css"/>
  <link href="/nvb/layout/histogram.css" rel="stylesheet" type="text/css"/>
  <link href="/cms/templates/mi_hetgelaat/css/reset_old_db_styles.css" rel="stylesheet" type="text/css"/>
  <link href="/cms/templates/mi_hetgelaat/css/style.css" id="hetgelaat-css" rel="stylesheet" type="text/css"/>
  <link href="/cms/templates/mi_hetgelaat/css/styles_extra_jpk.css" rel="stylesheet" type="text/css"/>
 </head>
 <body>
  <!-- Google Tag Manager -->
  <noscript>
   <iframe height="0" src="//www.googletagmanager.com/ns.html?id=GTM-KXNM34" style="display:none;visibility:hidden" width="0">
   </iframe>
  </noscript>
  <script>
   (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-KXNM34');
  </script>
  <!-- End Google Tag Manager -->
  <div id="wrapper">
   <div class="header" id="header">
    <a href="/">
     Meertens Instituut
    </a>
    →
    <a href="/databanken/">
     Databanken
    </a>
    →
    <a href="/nvb/">
     Voornamen
    </a>
   </div>
   <div id="contentwrapper">
    <div id="content">
     <div id="searchform">
      <form action="/nvb/" method="get" onsubmit="return submit_search('/nvb/',this);">
       <fieldset class="searchform">
        <b>
         Voornaam
        </b>
        <input name="action" type="hidden" value="naam"/>
        <select name="operator" size="1">
         <option label="is gelijk aan" selected="selected" value="is">
          is gelijk aan
         </option>
         <option label="begint met" value="begintmet">
          begint met
         </option>
         <option label="eindigt op" value="eindigtop">
          eindigt op
         </option>
         <option label="bevat" value="bevat">
          bevat
         </option>
         <option label="geavanceerd" value="regexp">
          geavanceerd
         </option>
        </select>
        <input name="key" size="20" type="text" value="Ard"/>
        <input type="submit" value="Zoek!"/>
       </fieldset>
      </form>
      <span id="topnamenlink" style="float: right;">
       <a href="/nvb/topnamen">
        populariteitslijsten
       </a>
      </span>
     </div>
     <div class="title">
      <a href="/nvb/">
       Nederlandse Voornamenbank
      </a>
     </div>
     <div class="namedetails">
      <div class="name">
       Ard
      </div>
     </div>
     <div class="namemenu">
      <div class="item_selected">
       <a href="/nvb/populariteit/naam/Ard">
        populariteit
       </a>
      </div>
      <div class="item">
       <a href="/nvb/verspreiding/naam/Ard">
        verspreiding
       </a>
      </div>
      <div class="item">
       <a href="/nvb/verklaring/naam/Ard">
        verklaring
       </a>
      </div>
      <!--
    <div class="item_disabled">varianten</div>
    //-->
     </div>
     <div class="nameinfo">
      <a name="data">
      </a>
      <!--
  <div class="title">Populariteit 1880-2016</div>
  //-->
      <table class="nameinfo">
       <tr>
        <td class="header">
         m
        </td>
        <td class="smallcolumn">
        </td>
        <td class="header">
         NL totaal (2014)
        </td>
        <td class="smallcolumn">
        </td>
        <td class="header">
         %
        </td>
        <td class="header">
        </td>
        <td class="header">
        </td>
       </tr>
       <tr>
        <td>
         als eerste naam:
        </td>
        <td class="smallcolumn">
        </td>
        <td>
         388
        </td>
        <td class="smallcolumn">
        </td>
        <td>
         0.0053%
        </td>
        <td>
         [
         <a class="selected" href="/nvb/populariteit/absoluut/man/eerstenaam/Ard#data">
          populariteit
         </a>
         ]
        </td>
        <td>
         [
         <a href="/nvb/populariteit/relatief/man/eerstenaam/Ard#data">
          % populariteit
         </a>
         ]
        </td>
       </tr>
       <tr>
        <td>
         als volgnaam:
        </td>
        <td class="smallcolumn">
        </td>
        <td>
         114
        </td>
        <td class="smallcolumn">
        </td>
        <td>
         0.0016%
        </td>
        <td>
         [
         <a href="/nvb/populariteit/absoluut/man/volgnaam/Ard#data">
          populariteit
         </a>
         ]
        </td>
        <td>
         [
         <a href="/nvb/populariteit/relatief/man/volgnaam/Ard#data">
          % populariteit
         </a>
         ]
        </td>
       </tr>
       <tr>
        <td class="spacer" colspan="7">
        </td>
       </tr>
       <tr>
        <td class="header">
         v
        </td>
        <td class="smallcolumn">
        </td>
        <td class="header">
        </td>
        <td class="smallcolumn">
        </td>
        <td class="header">
        </td>
        <td class="header">
        </td>
        <td class="header">
        </td>
       </tr>
       <tr>
        <td>
         als eerste naam:
        </td>
        <td class="smallcolumn">
        </td>
        <td>
         --
        </td>
        <td class="smallcolumn">
        </td>
        <td>
         --
        </td>
        <td>
         [
         <a href="/nvb/populariteit/absoluut/vrouw/eerstenaam/Ard#data">
          populariteit
         </a>
         ]
        </td>
        <td>
         [
         <a href="/nvb/populariteit/relatief/vrouw/eerstenaam/Ard#data">
          % populariteit
         </a>
         ]
        </td>
       </tr>
       <tr>
        <td>
         als volgnaam:
        </td>
        <td class="smallcolumn">
         &lt;
        </td>
        <td>
         5
        </td>
        <td class="smallcolumn">
         &lt;
        </td>
        <td>
         0.0001%
        </td>
        <td>
         [
         <a href="/nvb/populariteit/absoluut/vrouw/volgnaam/Ard#data">
          populariteit
         </a>
         ]
        </td>
        <td>
         [
         <a href="/nvb/populariteit/relatief/vrouw/volgnaam/Ard#data">
          % populariteit
         </a>
         ]
        </td>
       </tr>
      </table>
     </div>
     <div class="popularity">
      <div class="title">
       Populariteit van 'Ard' als eerste naam voor mannen  tussen 1880 en 2016
      </div>
      <div class="histogram" id="histogram">
       <noscript>
        <div>
         <img alt="populariteit" src="/nvb/populariteit/absoluut/man/afbeelding/naam/Ard"/>
        </div>
       </noscript>
      </div>
     </div>
     <script type="text/javascript">
      <!--
        var year_list = new Array(1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1899,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,1913,1914,1915,1916,1917,1918,1919,1920,1921,1922,1923,1924,1925,1926,1927,1928,1929,1930,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940,1941,1942,1943,1944,1945,1946,1947,1948,1949,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016);
        var value_list = new Array(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.86,0,0,0,0,0,0,0,14,17,25,24,17,10,10,11,12,8,10,15,10,11,6,6,6,9,8,9,6,7,5,6,6,10,5.5,5.5,4.5,4.5,8,8,10,7,7,6,7,3,3,2.5,2.5,4.5,4.5,0,3.5,3,3,3,0);
        var stepsize_list = new Array(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,7,7,7,7,7,7,7,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,2,2,1,1,1,1,1,1,1,1,1,2,2,2,2,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,3,3,3,0);
        var steptotal_value_list = new Array(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6,6,6,6,6,6,6,11,10,14,17,25,24,17,10,10,11,12,8,10,15,10,11,6,12,12,9,8,9,6,7,5,6,6,10,11,11,9,9,8,8,10,7,7,6,7,6,6,5,5,9,9,7,7,9,9,9,0);
        var steptotal_approximation_list = new Array(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,6.3,6.27,6.24,6.23,6.22,6.21,6.19,11.33,10.25,14.28,17.32,25.37,24.3,17.23,10.12,10.14,11.13,12.11,8.07,10.11,15.13,10.03,11.07,6.01,12,12,9,8.01,9.01,6.02,7.01,5.01,6.01,6,10,11,11,9,9,8,8,10,7,7,6,7,6.02,6,5,5,9.06,9.11,7.07,7.11,9.18,9,9,0);
        var approximation_list = new Array(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.88,0,0.89,0.89,0.9,0.91,0.89,11.33,10.25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3.58,0,0,0,0,0);
        histogram = new histogram("histogram",1880,2020,0,32,10,10,20,50);
        histogram.setScaleX(1880,10,1890,10)
        histogram.setScaleY(0,6,0,6)
        for(var i=0;i<year_list.length;i++) {
          if((value_list[i]>0) || (steptotal_approximation_list[i]>0)) {
            if(stepsize_list[i]>1) {
              histogram.addItem(year_list[i],value_list[i],1,1,year_list[i]+': '+steptotal_value_list[i]+' geboortes in '+stepsize_list[i]+' jaar');
            } else {
              histogram.addItem(year_list[i],value_list[i],1,1,year_list[i]+': '+value_list[i]+' geboortes');
            }
          }
          if((approximation_list[i]>0) || (steptotal_approximation_list[i]>0)) {
            if(stepsize_list[i]>1) {
              histogram.addItem(year_list[i],approximation_list[i],1,0,year_list[i]+' (schatting) : '+Math.round(steptotal_approximation_list[i])+' geboortes in '+stepsize_list[i]+' jaar');
            } else {
              histogram.addItem(year_list[i],approximation_list[i],1,0,year_list[i]+' (schatting) : '+Math.round(approximation_list[i])+' geboortes');
            }
          }
        }
        histogram.addPrintButton('/nvb/populariteit/absoluut/man/afbeelding/naam/Ard','printversie');
      //-->
     </script>
    </div>
   </div>
   <div class="footer" id="footer">
    <div id="footertext">
     <strong>
      MEERTENS INSTITUUT
     </strong>
     Postbus 94264, 1090 GG Amsterdam.
          Telefoon +31 (0)20 4628500.
          Fax +31 (0)20 4628555.
     <span class="email">
      <script type="text/javascript">
       <!--
            var part1 = "nvb";
            var part2 = "meertens.knaw.nl?subject=Nederlandse Voornamenbank";
            var part3 = "nvb"+"@"+"meertens.knaw.nl";
            document.write('<a href="mai' + 'lto:' + part1 + '@' + part2 + '">');
            document.write(part3 + '</a>');
            // -->
      </script>
     </span>
    </div>
    <div id="footercopyright">
     © 2000-2019
     <a href="http://www.meertens.knaw.nl/">
      KNAW / Meertens Instituut
     </a>
    </div>
    <div id="disclaimer">
     <a href="http://www.meertens.knaw.nl/soundbites/disclaimer.php">
      disclaimer
     </a>
    </div>
   </div>
  </div>
  <script src="/nvb/../cms/templates/mi_hetgelaat/js/meertens.databanken.js">
  </script>
 </body>
</html>

### Parsing out the information from the table

In [3]:
from bs4 import BeautifulSoup
import requests

In [112]:
html_soup = BeautifulSoup(response.text, 'html.parser')
type(html_soup)

bs4.BeautifulSoup

In [113]:
# Explore resulting HTML

content = html_soup.find('div', id = 'content')
print(type(content))
print(len(content))
content

<class 'bs4.element.Tag'>
15

<div id="content">
<div id="searchform">
<form action="/nvb/" method="get" onsubmit="return submit_search('/nvb/',this);">
<fieldset class="searchform">
<b>Voornaam</b>
<input name="action" type="hidden" value="naam"/>
<select name="operator" size="1">
<option label="is gelijk aan" selected="selected" value="is">is gelijk aan</option>
<option label="begint met" value="begintmet">begint met</option>
<option label="eindigt op" value="eindigtop">eindigt op</option>
<option label="bevat" value="bevat">bevat</option>
<option label="geavanceerd" value="regexp">geavanceerd</option>
</select>
<input name="key" size="20" type="text" value="Jolie"/>
<input type="submit" value="Zoek!"/>
</fieldset>
</form>
<span id="topnamenlink" style="float: right;"><a href="/nvb/topnamen">populariteitslijsten</a></span>
</div> <div class="title"><a href="/nvb/">Nederlandse Voornamenbank</a></div>
<div class="namedetails">
<div class="name">Jolie</div>
<div class="variants">
  ook
                  <a href="/nvb/populariteit/naam/Jol%C3%ADe">Jolíe</a>
                    ,
            <a href="/nvb/populariteit/naam/J%C3%B3lie">Jólie</a>
                    ,
            <a href="/nvb/populariteit/naam/Joli%C3%A9">Jolié</a>
                    ,
            <a href="/nvb/populariteit/naam/Jol%C3%ACe">Jolìe</a>
                    en
            <a href="/nvb/populariteit/naam/Joli%C3%A8">Joliè</a>
</div>
</div>
<div class="namemenu">
<div class="item_selected"><a href="/nvb/populariteit/naam/Jolie">populariteit</a></div>
<div class="item"><a href="/nvb/verspreiding/naam/Jolie">verspreiding</a></div>
<div class="item"><a href="/nvb/verklaring/naam/Jolie">verklaring</a></div>
<!--
    <div class="item_disabled">varianten</div>
    //-->
</div>
<div class="nameinfo">
<a name="data"></a>
<!--
  <div class="title">Populariteit 1880-2016</div>
  //-->
<table class="nameinfo">
<tr>
<td class="header">m</td>
<td class="smallcolumn"></td>
<td class="header">NL totaal (2014)</td>
<td class="smallcolumn"></td>
<td class="header">%</td>
<td class="header"></td>
<td class="header"></td>
</tr>
<tr>
<td>als eerste naam:</td>
<td class="smallcolumn"></td>
<td>--</td>
<td class="smallcolumn"></td>
<td>--</td>
<td>[<a href="/nvb/populariteit/absoluut/man/eerstenaam/Jolie#data">populariteit</a>]</td>
<td>[<a href="/nvb/populariteit/relatief/man/eerstenaam/Jolie#data">% populariteit</a>]</td>
</tr>
<tr>
<td>als volgnaam:</td>
<td class="smallcolumn">&lt;</td>
<td>5</td>
<td class="smallcolumn">&lt;</td>
<td>0.0001%</td>
<td>[<a href="/nvb/populariteit/absoluut/man/volgnaam/Jolie#data">populariteit</a>]</td>
<td>[<a href="/nvb/populariteit/relatief/man/volgnaam/Jolie#data">% populariteit</a>]</td>
</tr>
<tr>
<td class="spacer" colspan="7"></td>
</tr>
<tr>
<td class="header">v</td>
<td class="smallcolumn"></td>
<td class="header"></td>
<td class="smallcolumn"></td>
<td class="header"></td>
<td class="header"></td>
<td class="header"></td>
</tr>
<tr>
<td>als eerste naam:</td>
<td class="smallcolumn"></td>
<td>950</td>
<td class="smallcolumn"></td>
<td>0.0128%</td>
<td>[<a class="selected" href="/nvb/populariteit/absoluut/vrouw/eerstenaam/Jolie#data">populariteit</a>]</td>
<td>[<a href="/nvb/populariteit/relatief/vrouw/eerstenaam/Jolie#data">% populariteit</a>]</td>
</tr>
<tr>
<td>als volgnaam:</td>
<td class="smallcolumn"></td>
<td>973</td>
<td class="smallcolumn"></td>
<td>0.0132%</td>
<td>[<a href="/nvb/populariteit/absoluut/vrouw/volgnaam/Jolie#data">populariteit</a>]</td>
<td>[<a href="/nvb/populariteit/relatief/vrouw/volgnaam/Jolie#data">% populariteit</a>]</td>
</tr>
</table>
</div>
<div class="popularity">
<div class="title">Populariteit van 'Jolie' als eerste naam voor vrouwen  tussen 1880 en 2016</div>
<div class="histogram" id="histogram">
<noscript>
<div><img alt="populariteit" src="/nvb/populariteit/absoluut/vrouw/afbeelding/naam/Jolie"/></div>
</noscript>
</div>
</div>
<script type="text/javascript">
      <!--
        var year_list = new Array(1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1899,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,1913,1914,1915,1916,1917,1918,1919,1920,1921,1922,1923,1924,1925,1926,1927,1928,1929,1930,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940,1941,1942,1943,1944,1945,1946,1947,1948,1949,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016);
        var value_list = new Array(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.29,0.29,0.29,0.29,0.29,0.29,0.29,0.29,0.29,0.29,0,0.29,0,0,0,0,0,1.5,1.5,0,0,0,1.25,0,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.67,1.67,1.67,2.25,2.25,2.25,2.25,5.5,5.5,5,5,3,3,6,7,5,15,12,6,12,13,27,23,21,30,33,52,49,38,47,61,108,106,106,124,133,143);
        var stepsize_list = new Array(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,3,3,3,4,4,4,4,2,2,2,2,2,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1);
        var steptotal_value_list = new Array(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,6,6,6,6,5,5,5,5,6,6,6,6,6,6,6,6,5,5,5,9,9,9,9,11,11,10,10,6,6,6,7,5,15,12,6,12,13,27,23,21,30,33,52,49,38,47,61,108,106,106,124,133,143);
        var steptotal_approximation_list = new Array(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5.44,5.41,5.37,5.39,5.34,5.3,5.25,5.23,5.2,5.17,5.17,5.16,5.17,5.14,5.12,5.13,5.12,6.13,6.12,6.13,6.11,5.06,5.06,5.05,5.03,6.03,6.05,6.04,6.04,6.04,6.02,6.04,6.02,5,5.02,5,9,9,9,9,11,11,10,10,6,6,6,7,5,15,12,6,12,13,27,23,21,30,33.03,52,49,38,47.19,61.66,109.01,107.46,107.98,124,133,143);
        var approximation_list = new Array(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.34,0.31,0,0,0,0,0,0,0,0,0,0,0.31,0,0.31,0.31,0.32,1.59,1.55,0,0,1.29,1.35,1.3,0,1.66,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0);
        histogram = new histogram("histogram",1880,2020,0,158,10,10,20,50);
        histogram.setScaleX(1880,10,1890,10)
        histogram.setScaleY(0,30,0,30)
        for(var i=0;i<year_list.length;i++) {
          if((value_list[i]>0) || (steptotal_approximation_list[i]>0)) {
            if(stepsize_list[i]>1) {
              histogram.addItem(year_list[i],value_list[i],1,1,year_list[i]+': '+steptotal_value_list[i]+' geboortes in '+stepsize_list[i]+' jaar');
            } else {
              histogram.addItem(year_list[i],value_list[i],1,1,year_list[i]+': '+value_list[i]+' geboortes');
            }
          }
          if((approximation_list[i]>0) || (steptotal_approximation_list[i]>0)) {
            if(stepsize_list[i]>1) {
              histogram.addItem(year_list[i],approximation_list[i],1,0,year_list[i]+' (schatting) : '+Math.round(steptotal_approximation_list[i])+' geboortes in '+stepsize_list[i]+' jaar');
            } else {
              histogram.addItem(year_list[i],approximation_list[i],1,0,year_list[i]+' (schatting) : '+Math.round(approximation_list[i])+' geboortes');
            }
          }
        }
        histogram.addPrintButton('/nvb/populariteit/absoluut/vrouw/afbeelding/naam/Jolie','printversie');
      //-->
      </script>
</div>

In [114]:
script = content.script
script

<script type="text/javascript">
      <!--
        var year_list = new Array(1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1899,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,1913,1914,1915,1916,1917,1918,1919,1920,1921,1922,1923,1924,1925,1926,1927,1928,1929,1930,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940,1941,1942,1943,1944,1945,1946,1947,1948,1949,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016);
        var value_list = new Array(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.29,0.29,0.29,0.29,0.29,0.29,0.29,0.29,0.29,0.29,0,0.29,0,0,0,0,0,1.5,1.5,0,0,0,1.25,0,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.67,1.67,1.67,2.25,2.25,2.25,2.25,5.5,5.5,5,5,3,3,6,7,5,15,12,6,12,13,27,23,21,30,33,52,49,38,47,61,108,106,106,124,133,143);
        var stepsize_list = new Array(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,3,3,3,4,4,4,4,2,2,2,2,2,2,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1);
        var steptotal_value_list = new Array(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,6,6,6,6,5,5,5,5,6,6,6,6,6,6,6,6,5,5,5,9,9,9,9,11,11,10,10,6,6,6,7,5,15,12,6,12,13,27,23,21,30,33,52,49,38,47,61,108,106,106,124,133,143);
        var steptotal_approximation_list = new Array(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5.44,5.41,5.37,5.39,5.34,5.3,5.25,5.23,5.2,5.17,5.17,5.16,5.17,5.14,5.12,5.13,5.12,6.13,6.12,6.13,6.11,5.06,5.06,5.05,5.03,6.03,6.05,6.04,6.04,6.04,6.02,6.04,6.02,5,5.02,5,9,9,9,9,11,11,10,10,6,6,6,7,5,15,12,6,12,13,27,23,21,30,33.03,52,49,38,47.19,61.66,109.01,107.46,107.98,124,133,143);
        var approximation_list = new Array(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.34,0.31,0,0,0,0,0,0,0,0,0,0,0.31,0,0.31,0.31,0.32,1.59,1.55,0,0,1.29,1.35,1.3,0,1.66,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0);
        histogram = new histogram("histogram",1880,2020,0,158,10,10,20,50);
        histogram.setScaleX(1880,10,1890,10)
        histogram.setScaleY(0,30,0,30)
        for(var i=0;i<year_list.length;i++) {
          if((value_list[i]>0) || (steptotal_approximation_list[i]>0)) {
            if(stepsize_list[i]>1) {
              histogram.addItem(year_list[i],value_list[i],1,1,year_list[i]+': '+steptotal_value_list[i]+' geboortes in '+stepsize_list[i]+' jaar');
            } else {
              histogram.addItem(year_list[i],value_list[i],1,1,year_list[i]+': '+value_list[i]+' geboortes');
            }
          }
          if((approximation_list[i]>0) || (steptotal_approximation_list[i]>0)) {
            if(stepsize_list[i]>1) {
              histogram.addItem(year_list[i],approximation_list[i],1,0,year_list[i]+' (schatting) : '+Math.round(steptotal_approximation_list[i])+' geboortes in '+stepsize_list[i]+' jaar');
            } else {
              histogram.addItem(year_list[i],approximation_list[i],1,0,year_list[i]+' (schatting) : '+Math.round(approximation_list[i])+' geboortes');
            }
          }
        }
        histogram.addPrintButton('/nvb/populariteit/absoluut/vrouw/afbeelding/naam/Jolie','printversie');
      //-->
      </script>

In [115]:
# find all years on the histogram - div VerticalScaleMarkerTitle in var year_list #*** slechts 1 keer 

import re #RegEx

yearlist = re.search('var year_list = (?P<token>.*);', script.string)
if yearlist:
    print(yearlist.group('token'))

new Array(1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1899,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,1913,1914,1915,1916,1917,1918,1919,1920,1921,1922,1923,1924,1925,1926,1927,1928,1929,1930,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940,1941,1942,1943,1944,1945,1946,1947,1948,1949,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016)

In [116]:
# find all values on the histogram - div item0 and item1 in var vaulue_list

#import re #RegEx

valuelist = re.search('var value_list = (?P<token>.*);', script.string)
if valuelist:
    print(valuelist.group('token'))

new Array(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.29,0.29,0.29,0.29,0.29,0.29,0.29,0.29,0.29,0.29,0,0.29,0,0,0,0,0,1.5,1.5,0,0,0,1.25,0,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.67,1.67,1.67,2.25,2.25,2.25,2.25,5.5,5.5,5,5,3,3,6,7,5,15,12,6,12,13,27,23,21,30,33,52,49,38,47,61,108,106,106,124,133,143)

## manual check of the results

Carefull: some value results are not integer values. This is due to the way they are measured and displayed in the histogram - these are estimates over two or more years. i.e. in 2009 and 2010 the estimate was 9 over 2 years. So 2009 and 2010 both have the value of 4.5.

In [117]:
# slicing the strings year_list

print(yearlist)
type(yearlist)
year_list = yearlist.group('token')[10:-1]
year_list

<_sre.SRE_Match object; span=(20, 732), match='var year_list = new Array(1880,1881,1882,1883,188>

'1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1894,1895,1896,1897,1898,1899,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,1910,1911,1912,1913,1914,1915,1916,1917,1918,1919,1920,1921,1922,1923,1924,1925,1926,1927,1928,1929,1930,1931,1932,1933,1934,1935,1936,1937,1938,1939,1940,1941,1942,1943,1944,1945,1946,1947,1948,1949,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016'

In [118]:
# slicing the strings value_list

value_list = valuelist.group('token')[10:-1]
value_list

'0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.29,0.29,0.29,0.29,0.29,0.29,0.29,0.29,0.29,0.29,0,0.29,0,0,0,0,0,1.5,1.5,0,0,0,1.25,0,1.5,1.5,1.5,1.5,1.5,1.5,1.5,1.67,1.67,1.67,2.25,2.25,2.25,2.25,5.5,5.5,5,5,3,3,6,7,5,15,12,6,12,13,27,23,21,30,33,52,49,38,47,61,108,106,106,124,133,143'

In [119]:
# split the year_list string and put in a list
years = year_list[10:-1].split(",")

In [13]:
years

['1880',
 '1881',
 '1882',
 '1883',
 '1884',
 '1885',
 '1886',
 '1887',
 '1888',
 '1889',
 '1890',
 '1891',
 '1892',
 '1893',
 '1894',
 '1895',
 '1896',
 '1897',
 '1898',
 '1899',
 '1900',
 '1901',
 '1902',
 '1903',
 '1904',
 '1905',
 '1906',
 '1907',
 '1908',
 '1909',
 '1910',
 '1911',
 '1912',
 '1913',
 '1914',
 '1915',
 '1916',
 '1917',
 '1918',
 '1919',
 '1920',
 '1921',
 '1922',
 '1923',
 '1924',
 '1925',
 '1926',
 '1927',
 '1928',
 '1929',
 '1930',
 '1931',
 '1932',
 '1933',
 '1934',
 '1935',
 '1936',
 '1937',
 '1938',
 '1939',
 '1940',
 '1941',
 '1942',
 '1943',
 '1944',
 '1945',
 '1946',
 '1947',
 '1948',
 '1949',
 '1950',
 '1951',
 '1952',
 '1953',
 '1954',
 '1955',
 '1956',
 '1957',
 '1958',
 '1959',
 '1960',
 '1961',
 '1962',
 '1963',
 '1964',
 '1965',
 '1966',
 '1967',
 '1968',
 '1969',
 '1970',
 '1971',
 '1972',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016']

In [120]:
# split the value_list string and put in a list

values = value_list.split(",")
values

['0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0.29',
 '0.29',
 '0.29',
 '0.29',
 '0.29',
 '0.29',
 '0.29',
 '0.29',
 '0.29',
 '0.29',
 '0',
 '0.29',
 '0',
 '0',
 '0',
 '0',
 '0',
 '1.5',
 '1.5',
 '0',
 '0',
 '0',
 '1.25',
 '0',
 '1.5',
 '1.5',
 '1.5',
 '1.5',
 '1.5',
 '1.5',
 '1.5',
 '1.67',
 '1.67',
 '1.67',
 '2.25',
 '2.25',
 '2.25',
 '2.25',
 '5.5',
 '5.5',
 '5',
 '5',
 '3',
 '3',
 '6',
 '7',
 '5',
 '15',
 '12',
 '6',
 '12',
 '13',
 '27',
 '23',
 '21',
 '30',
 '33',
 '52',
 '49',
 '38',
 '47',
 '61',
 '108',
 '106',
 '106',
 '124',
 '133',
 '143']

OU/Week4/Assignments/Intro webscraping 3/DataScience recap45 append-dict.ipynb

In [121]:
# Creating an empty dictionary 
myDict = {} 

# Adding list as value 
#myDict["Ard"] = values 
myDict["jolie"] = values
#myDict["Piet"] = values

print(myDict)

{'jolie': ['0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0.29', '0.29', '0.29', '0.29', '0.29', '0.29', '0.29', '0.29', '0.29', '0.29', '0', '0.29', '0', '0', '0', '0', '0', '1.5', '1.5', '0', '0', '0', '1.25', '0', '1.5', '1.5', '1.5', '1.5', '1.5', '1.5', '1.5', '1.67', '1.67', '1.67', '2.25', '2.25', '2.25', '2.25', '5.5', '5.5', '5', '5', '3', '3', '6', '7', '5', '15', '12', '6', '12', '13', '27', '23', '21', '30', '33', '52', '49', '38', '47', '61', '108', '106', '106', '124', '133', '143']}

In [8]:
import pandas as pd # Don't forget to import!
colNames = years
dictOne = myDict
df1 = pd.DataFrame.from_dict(dictOne, orient='index', columns=colNames)
df1

ValueError: 135 columns passed, passed data had 132 columns

In [123]:
# convert all columns of DataFrame
df_num = df1.apply(pd.to_numeric) # convert all columns of DataFrame

In [124]:
#calculate mean along the rows
df_num.mean(axis=1)

jolie    9.021533
dtype: float64

In [125]:
#calculate mean along the rows
df_num.sum(axis=1)

jolie    1235.95
dtype: float64

In [126]:
#calculate mean along the rows
df_num.max(axis=1)

jolie    143.0
dtype: float64

In [34]:
2019 - 1880

139

In [127]:
# get the column name of max values in every row
#https://thispointer.com/pandas-find-maximum-values-position-in-columns-or-rows-of-a-dataframe/

maxValueIndexObj = df_num.idxmax(axis=1)
print("Max values of row are at following columns :")
print(maxValueIndexObj)

Max values of row are at following columns :
jolie    2016
dtype: object

In [128]:
maxValueIndexObj[0]

'2016'

In [129]:
#add year with max value to the dataframe
df_num_max = df_num

df_num_max['max_year']=maxValueIndexObj
df_num_max

# convert all columns of DataFrame
df_num_max = df_num_max.apply(pd.to_numeric) # convert all columns of DataFrame

In [130]:
df_row_count = df_num_max.shape[0]

In [131]:
df_num.sum(axis = 0, skipna = True)

1880           0.0
1881           0.0
1882           0.0
1883           0.0
1884           0.0
             ...
2013         106.0
2014         124.0
2015         133.0
2016         143.0
max_year    2016.0
Length: 138, dtype: float64

In [132]:
Total = df_num_max['max_year'].sum()

Total

2016

In [133]:
import time
this_year, month, day, hour, minute = map(int, time.strftime("%Y %m %d %H %M").split())
this_year

2019

In [134]:
df_num_age = df_num_max
df_num_age['max_age'] =  (this_year - df_num_age['max_year'])
df_num_age

,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,...,2009,2010,2011,2012,2013,2014,2015,2016,max_year,max_age
jolie,0,0,0,0,0,0,0,0,0,0,...,47,61,108,106,106,124,133,143,2016,3

In [135]:
Total_age = df_num_age['max_age'].sum()

Total_age

3

In [136]:
Avg_age = Total_age / df_num_age.shape[0]
Avg_age

3.0


<hr>

## Opdracht 2: Kwaliteitsdimensies en kwaliteitsindicatoren

Neem het projectplan dat u zelf heeft gemaakt bij de eindopdracht van week 1.

Voeg aan dat projectplan een beschrijving toe van de kwaliteit van een van de big databronnen die als input worden gebruikt. Doe dit door uitwerking van de vijf kwaliteitsdimensies:
Relevantie,
Nauwkeurigheid en Betrouwbaarheid,
Actualiteit en Punctualiteit,
Samenhang en Vergelijkbaarheid,
Toegankelijkheid en Duidelijkheid.
Definieer een kwaliteitsindicator voor deze big databron volgens het sjabloon uit de presentatie over kwaliteit. Maak zelf een kwaliteitsindicator die past bij de big databron uit het eigen onderzoek. Volg daarbij het sjabloon dat in de introductiefilm van week 4 is gebruikt bij de kwaliteitsindicator ‘Tijdigheid’ op pagina 5.